
.container {
    display: flex;
    justify-content: space-between;
}

.form-section {
    width: 48%;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.form-buttons {
    text-align: center;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.form-buttons .create-button {
    background-color: green;
    border-radius: 15px;
    color: #fff; 
}

.form-buttons .update-button {
    background-color: orange;
    color: white;
    border-radius: 15px;
}

.d-flex {
    display: flex !important;
    align-items: center !important;
}

.d-flex p {
    margin-bottom: 0 !important;
    margin-left: 0.5rem !important;
}
.input-trangthai{
    width: 15px;
}