/* btn search */
#search-box{
	background: #fff;
	border-radius: 50px;
	align-items: center;
}
#search-box #search-text {
	border: none;
	outline: none;
	background: none;
	font-size: 12px;
	width: 0;
	padding:0;
	
}

#search-box:hover #search-text{
	width: 300px;
	padding: 10px 15px;
	transition: 0.4s ease-in-out;
}

#search-box #search-btn{
	background-color: #fff;
	cursor: pointer;
	border: none;
	padding: 10px 10px 5px 10px;
	border-radius: 50%;
	font-size: 15px;
} 

#main-filter{
	position: relative;
	margin: 0;
	padding: 0;
}

#main-filter li a{
	color: #17aa83;
	display: block;
	padding: 5px 20px;
	text-decoration: none;
}




.sub-menu{
	position: absolute;
	background-color: #fff;
	padding: 5px;
	margin: 0px -100px;
	border-radius: 20px;
	display: none;
	
}

#main-filter:hover ul.sub-menu{
	display: block;
	
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	background-color: white;
	border-radius: 36px;
	color: black;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 250px;
	/* Adjust the width as needed */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	left: -200px;
	/* Align to the left of the button */
	top: 100%;
	/* Position below the button */
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	width: 100%;
	/* Ensure the links fill the width of the dropdown */
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #228426;
}
